@(book: model.Book)
<html>
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Spring Boot Reading List</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- Custom CSS -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/thumbnail-gallery.css")'/>
</head>
<body>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Reading List Demo Application</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <p class="navbar-text pull-right" style="font-size:20px">Play + Scala + Reactive Mongo</p>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container-fluid">
        <div class="row"></div>

        <div class="row">
            <div class="container">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-xs-1 text-center">Title</th>
                        <th class="col-xs-1 text-center">Author</th>
                        <th class="col-xs-1 text-center">ISBN</th>
                        <th class="col-xs-1 text-center">Description</th>
                        <th class="col-xs-1 text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @helper.form(action=routes.HomeController.update) {
                    <tr>
                        <td class="text-center"><input type="text" class="form-control" id="title" name="title"
                                                       value="@book.title"></input></td>
                        <td class="text-center"><input type="text" class="form-control" id="author" name="author"
                                                       value="@book.author"></input></td>
                        <td class="text-center"><input type="text" class="form-control" id="isbn" name="isbn"
                                                       value="@book.isbn"></input></td>
                        <td class="text-center"><input type="text" class="form-control" id="description"
                                                       name="description" value="@book.description"></input></td>
                        <td class="text-center">
                            <input type="hidden" value="@book._id" name="_id"/>
                            <input type="hidden" value="@book.reader" name="reader"/>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-warning" name="action" value="submit">
                                    <span class="glyphicon glyphicon-save"></span> Save
                                </button>
                                </a> <a href="@routes.HomeController.cancel" class="btn btn-danger .btn-sm" role="button">Cancel</a>
                            </div>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>